<a href="https://colab.research.google.com/github/chavan-nj/Class-Assignment-1---Getting-Started-with-Python-Programming/blob/master/CST_283_Internal_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q)2

In [ ]:
name = input("Enter your name:")
 
address = input("Enter your address:")
 
number = input("Enter your telephone number:")
 
print("Your details are:", name, address, number, sep="\n")

Enter your name:Chavan N J
Enter your address:Kasaragod,kerala
Enter your telephone number:0994 23456
Your details are:
Chavan N J
Kasaragod,kerala
0994 23456

Q)3

In [ ]:
print("Your name is",Name)

Your name is Chavan

In [ ]:
Name="Chavan N J"

Q)4

In [ ]:
 
#Rectangle Area
Width = int(input("Enter the width: ")) 
Height = int(input("Enter the height: ")) 
Area =Width * Height
print("The area is",Area, "Square units")

Enter the width: 5
Enter the height: 10
The area is 50 Square units

Q)5

In [ ]:
 
#Triangle Area
Base= int(input("Enter the base: "))
Height= int(input("Enter the height: ")) 
Area = .5*Base*Height
print("The area is",Area, "square units")

Enter the base: 3
Enter the height: 4
The area is 6.0 square units

Q)6

In [ ]:
 
#Circle Area
Radius = int(input("Enter the radius: ")) 
Area = 3.14*Radius**2
print("The area is", Area, "square units")

Enter the radius: 9
The area is 254.34 square units

Q)7

In [ ]:
 
Name = input("Enter your name: ") 
Age =input("Enter your age: ") 
print("My name is "+Name+" and my age is "+Age)

Enter your name: Chavan
Enter your age: 19
My name is Chavan and my age is 19

Q)8

In [ ]:
 
K=int(input("Enter a number: ")) 
K=K+1
print(K)

Enter a number: 7
8

Q)9

In [ ]:
 input("Enter your first name: ")

Enter your first name: Chavan

'Chavan'